html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #5B507A;
}

.table td {
    text-align: center;
    vertical-align: middle;
    font-size: 3rem;
    width: 100px;
    height: 100px;
    padding: 0;
}

@media (min-width: 576px) {
    .table td {
        font-size: 4rem;
        width: 125px;
        height: 125px;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .table td {
        font-size: 5rem;
        width: 150px;
        height: 150px;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .table td {
        font-size: 6rem;
        width: 175px;
        height: 175px;
        max-width: 100%;
    }
}

.content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.table {
    margin-bottom: 0;
    background-color: #49475B;

    /*
    49475B
    E3C567
    848C8E
    C4CAD0
    */
}

.table-bordered td {
    border: 1px solid #848C8E;
}


#game {
    /*
        border-top: 10px solid #EB37AC;
        border-bottom: 10px solid #FBAF29;
        border-right: 10px solid #00D497;
        border-left: 10px solid #4285F4;
*/
}
