@import url('https://fonts.googleapis.com/css?family=Pacifico|Source+Code+Pro:200|Anonymous+Pro');
html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #5B507A;
    text-align: center;
    font-family: 'Anonymous Pro', monospace;
    color: white;
}

a,
a:hover {
    color: white;
}

h1 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.1;
    font-family: 'Pacifico';
}

h3 {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.table td {
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
    width: 100px;
    height: 100px;
    padding: 0;
}

.player-icon {
    cursor: pointer;
    border: 1px dashed rgba(0, 0, 0, 0);
    border-radius: 50%;
    padding: 0.5rem 0.5rem;
}

.player-icon:hover {
    border-color: #fff;
}

#game-menu,
#game {
    width: 301px;
    height: 301px;
    font-size: 2rem;
}

#game-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 1px dashed #fff
}

@media (min-width: 300px) {
    h1 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1rem;
    }
    .table td {
        font-size: 3rem;
        width: 100px;
        height: 100px;
    }
    #game-menu,
    #game {
        width: 301px;
        height: 301px;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 2.75rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .table td {
        font-size: 4rem;
        width: 125px;
        height: 125px;
    }
    #game-menu,
    #game {
        width: 376px;
        height: 376px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 3.75rem;
    }
    h3 {
        font-size: 2rem;
    }
    .table td {
        font-size: 5rem;
        width: 140px;
        height: 140px;
    }
    #game-menu,
    #game {
        width: 420px;
        height: 420px;
    }
}

.content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    margin-bottom: 0;
    background-color: #49475B;
    /*
    49475B
    E3C567
    848C8E
    C4CAD0
    */
}

.table-bordered td {
    border: 1px solid #848C8E;
}

.filled-cell {
    pointer-events: none;
}

.winning-cell {
    background-color: white;
}

#player1,
#player2 {
    width: 100%;
    display: flex;
    justify-content: space-between
}

#results {
    padding: 0.2rem 0.5rem;
    display: flex;
    justify-content: space-between;
}

#game {
    /*
        border-top: 10px solid #EB37AC;
        border-bottom: 10px solid #FBAF29;
        border-right: 10px solid #00D497;
        border-left: 10px solid #4285F4;
*/
}
